.game-container {
    min-height: 100vh;
    display: flex;
    padding-top: 74px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    color: #ffffff;
}